In [3]:
import sqlite3
conn=sqlite3.connect('test.db')

In [5]:
conn.execute('''
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    Country VARCHAR(50)
    );'''

)
conn.commit()
print('Customers Table');

Customers Table

In [6]:
conn.execute('''
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    Product VARCHAR(50),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
    );'''

)
conn.commit()
print('Orders Table');

Orders Table

In [7]:
conn.execute("INSERT INTO Customers (CustomerID, CustomerName, Country) VALUES(1, 'Alice', 'USA');")
conn.execute("INSERT INTO Customers (CustomerID, CustomerName, Country) VALUES(2, 'Bob', 'UK');")
conn.execute("INSERT INTO Customers (CustomerID, CustomerName, Country) VALUES(3, 'Charlie', 'Canada');")
conn.execute("INSERT INTO Customers (CustomerID, CustomerName, Country) VALUES(4, 'Diana', 'USA');")

In [8]:
conn.execute("INSERT INTO Orders (OrderID, CustomerID, Product) VALUES (101, 1, 'Laptop');")
conn.execute("INSERT INTO Orders (OrderID, CustomerID, Product) VALUES (102, 3, 'Keyboard');")
conn.execute("INSERT INTO Orders (OrderID, CustomerID, Product) VALUES (103, 4, 'Monitor');")
conn.execute("INSERT INTO Orders (OrderID, CustomerID, Product) VALUES (104, 5, 'Mouse');")
conn.commit()

In [9]:
conn=sqlite3.connect('test.db')
cursor=conn.execute(''' SELECT * FROM Customers ''' )
for row in cursor:
  print(row)

(1, 'Alice', 'USA')
(2, 'Bob', 'UK')
(3, 'Charlie', 'Canada')
(4, 'Diana', 'USA')

In [10]:
cursor=conn.execute(''' SELECT * FROM Orders ''' )
for row in cursor:
  print(row)

(101, 1, 'Laptop')
(102, 3, 'Keyboard')
(103, 4, 'Monitor')
(104, 5, 'Mouse')

In [11]:
# Inner Join
cursor=conn.execute('''
SELECT Customers.CustomerID, Customers.CustomerName, Orders.Product
FROM Customers
INNER JOIN Orders
ON Customers.CustomerID = Orders.CustomerID;''' )
for row in cursor:
  print(row)

(1, 'Alice', 'Laptop')
(3, 'Charlie', 'Keyboard')
(4, 'Diana', 'Monitor')

In [12]:
#Left Join
cursor=conn.execute('''
SELECT Customers.CustomerID, Customers.CustomerName, Orders.Product
FROM Customers
LEFT JOIN Orders
ON Customers.CustomerID = Orders.CustomerID;
''' )
for row in cursor:
  print(row)

(1, 'Alice', 'Laptop')
(2, 'Bob', None)
(3, 'Charlie', 'Keyboard')
(4, 'Diana', 'Monitor')

In [13]:
#Right Join
cursor=conn.execute('''
SELECT Customers.CustomerID, Customers.CustomerName, Orders.Product
FROM Customers
RIGHT JOIN Orders
ON Customers.CustomerID = Orders.CustomerID;
 ''' )
for row in cursor:
  print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [14]:
#Full Outer Join
cursor=conn.execute('''
SELECT Customers.CustomerID, Customers.CustomerName, Orders.Product
FROM Customers
FULL OUTER JOIN Orders
ON Customers.CustomerID = Orders.CustomerID;
 ''' )
for row in cursor:
  print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported